.Body
{
    font-family: Georgia,Arial,Helvetica;
    max-width: 100%;
    height: auto;
    background-color: #444;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin: 0px;
    margin-top: 11rem;
    padding: 5px;
    box-sizing: border-box;
}

.brandWords
{
    font-family: Brush-Script-MT, Georgia,Arial;
    color: beige;
    margin: 0px auto 0px 14rem ;
    color: aliceblue;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
}

header
{
    display: block;
    z-index: 10;
    background-color: #85adad;
    background-size: cover;
    max-width: 100% ;
    min-width: 100%;
    height: auto;
    margin: 0px ;
    border-bottom: 0px solid white;
    min-height: 15%;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    color: white;
    overflow: auto;
}

.div1
{
    max-width: 100%;
    min-width: 100%;
    background-color: #d5d7dd;
    margin: 0px;
    padding: 10px;
    position: absolute;
    right 0px;
    left: 0px;
    bottom: 0px;
    top : 20%;
    overflow: auto ;
    box-sizing: border-box;

}

img.logo
{
    border: 2px solid white ;
    border-radius: 50% ;
    float: left;
    width: 110px;
    height: auto;
    margin: 0px 5px 0px 10px;
    display: block;
    position: absolute;
    top: 50%;    
    left: 1% ;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.siteName
{
    display: block;
    font-size: 400%;
    text-shadow: 2px 3px 3px black ;
    margin: auto ;
    color: aliceblue;
}

.navbar .siteName{
    float: left;
    margin-left: 1rem;
}

header .siteName
{
    display: block;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 400%;
    text-shadow: 3px 0px 3px black ;
    margin: 0px ;
    margin-right: 3rem;
    color: aliceblue;
    
}

.navLink
{
    font-weight: bolder;
    color: white;
    font-family: Times, Copperplate, courier,arial,helvetica;    
    text-decoration: none;
    display: block;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white ;
    text-shadow: 2px 3px 5px black ;
    padding: 13px;
    text-align: center;
}

div.container .navLink
{
    color: red;
    -webkit-text-stroke-color: red ;
    text-shadow: 2px 3px 5px white ;
}

.myForm
{
    margin: 0px auto 30px auto ; 
    color: white;
    height: auto;
    border: 1px solid black ;
    background-color: white;
    padding: 10px;
    padding-bottom: 30px;
    overflow: auto;
}

fieldset
{
    border: 1px solid black ;
    margin-left: 15px;
    padding: 10px;
    width: auto;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow: auto;
    background-color: #6600ff;
    color: black;
}

legend
{
    font-size: 200%;
    font-weight: bold;
    color: white;
    text-align: center;
}

label
{
    color: black;
    font-weight: bold;
    margin: 10px;
    text-shadow: 1px 1px white ;
}

input.textInputs
{
    display: block;
    font-family:courier,arial,helvetica;
    border:none ;
    border-bottom: 4px solid white;
    min-width: 40% ;
    max-width: 60%;
    height: 25px;
    padding: 8px;
    padding-left: 25px;
    margin: 1% 2% 1% 9%;
    background-color: inherit;
    color: white;
    
    
}

.linkButton
{
    display: inline-block;
    max-width: 50% ;
    font-family:Georgia,arial,helvetica;
    text-decoration: none;
    background-color: white;
    padding: 8px 15px;
    
    margin: 20px;
    color: black;
    border: none;
    border-radius: 20px;
    font-size: 1em;
}

.linkButton:active
{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    transform: translateY(1px);
}

.linkButton:hover
{
    
    background-color: red;
    color: white;
}

.formHints
{
    font-family: Times-New-Roman,Calibri;
    color: blueviolet;
    margin: 1% 2% 1% 4%;
    font-style: italic;
    
}
 
::placeholder {
  color: white;
  opacity: 1; 
}

.navBar
{
    display: block;
    z-index: 9;
    background-color: #000000;
    max-width: 100% ;
    min-width: 100%;
    height: auto;
    min-height: 7% ;
    margin: 0em 0px 4px 0px ;
    color: white;
    overflow: auto;
    box-sizing: border-box;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 15%;
}

.HomeDiv
{
    display: block;
    max-width: 100% ;
    min-width: 100%;
    height: auto;
    min-height: 9% ;
    margin: 0em 0px 4px 0px ;
    padding: 1em;
    color: white;
    overflow: auto;
    box-sizing: border-box;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 24%;
}

#divContent
{
    font-family: sans-serif,arial,helvetica;
    background-color: #660033;
    margin-bottom: 3rem;
    margin-top: 7rem;
    padding: 3rem;
    box-sizing: border-box;
    color: white ;
    text-shadow: 3px 0px 3px black ;
    border-radius: 5px;
}

#divContent img
{
    border-radius: 20px;
    
}

.navBar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.navBar a:hover {
  background-color: #ddd;
  color: black;
}

.contentDiv img
{
    width: 100%; 
    height: 100%; 
    object-fit: contain;
}

.toggleBtn
{
    position: relative;
    left: 75%;
    right: 4%;
    top: 20%;
    bottom: auto;
}

.toggleBtn2
{
    position: relative;
    left: 75%;
    right: 4%;
    top: auto;
    bottom: 20%;
}

.toggleBtn:hover
{
    background-color: red;
}

.toggleBtn2:hover
{
    background-color: yellow;
    color: black;
}

.toggleBtn , .toggleBtn2
{
    border-radius: 20px;
    border: none;
    width: 10em;
    background-color: dodgerblue;
    color: antiquewhite;
    padding: 10px;
    
    min-height: 10%;
    max-height: 18%
    float: right;
    display: inline-block;
}

div.container
{
    margin-top: 3rem;
    width: auto;
    max-width: 80%;
    padding: 2rem;
}

form.was-validated
{
    margin: auto;
    margin-top: 0rem;
    padding: 2rem;
    background-color: white;
}

@media only screen and (min-width: 1000px) {
    /* When screen width is less than 1000px, keep this style */
    .myForm 
    {
        width: auto;
        max-width: 35% ;
    }
    div.container
    {
        max-width: 80%;
    }
    .was-validated
    {
        max-width: 40% ;
    }
}

@media only screen and (max-width: 1000px) {
    /* When screen width is greater than 1000px, keep this style */
    .myForm, .was-validated
    {
        width: auto;
        max-width: 100% ;
    }
    div.container
    {
        width: 100%;
        max-width: 100%;
    }
}

.myForm, .was-validated
{
    font-family: Cambria,Times, Arial,Georgia;
    box-shadow: 3px 0px 3px black;

}

#MyNavBar
{
    background-color: #7a7a52;
    background-color: #0066ff;
    margin-top: 7rem ;
    
    
}

#ulNavBar li a
{
    color: white;
    display: inline;

}

#ulNavBar li
{    
    display: inline;
}

#ulNavBar li:hover
{
    border: none;
    border-bottom: 3px solid black;
}

*
{
    box-sizing: border-box;
}

body.container-fluid
{
    background-color: #444;

}
